* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#popup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  z-index: 999; /* Ensure it's above other elements */
  display: none; /* Initially hidden */
}

#popup-message {
  background-color: #ff0000; /* Red background color */
  color: #ffffff; /* White text color */
  padding: 10px 20px;
  border-radius: 5px;
  animation: fadeOut 2s ease-in-out forwards; /* Fade out animation */
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none; /* Hide after fading out */
  }
}

#container {
  display: flex;
  background-color: rgb(18, 18, 19);
  height: 100%;
  align-items: center;
  flex-direction: column;
}

#game {
  width: 100%;
  max-width: 500px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  border-bottom: 1px solid rgb(58, 58, 60);
}

.title {
  color: gainsboro;
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0.4rem 0 0.4rem 0;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#board-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  overflow: hidden;
}

#keyboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.keyboard-row {
  display: flex;
  justify-content: center;
  margin-bottom: 6px;
}

.keyboard-key {
  padding: 15px 20px; /* Increase padding for larger buttons */
  margin: 0 3px; /* Consistent margin between keys */
  background-color: #ddd; /* Default key color */
  border: none;
  border-radius: 6px;
  font-size: 1.2rem; /* Larger font size for the key labels */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.wide-button {
  padding: 15px 36px; /* Larger padding for wide buttons */
  margin-right: 3px; /* Adjust if necessary for alignment */
}

.flip-animation {
  animation: flip 0.8s forwards;
}

@keyframes flip {
  0% {
    transform: rotateX(0);
  }
  50% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0);
  }
}

.correct {
  background-color: rgb(106, 169, 100);
}

.present {
  background-color: yellow;
}

.absent {
  background-color: rgb(120, 124, 126);
}

.popup-end-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
}

.popup-content h2 {
  margin-top: 0;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px; /* Width of the switch */
  height: 34px; /* Height of the switch */
}

/* Hide default checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px; /* Height of the circle */
  width: 26px; /* Width of the circle */
  left: 4px; /* Initial left alignment */
  bottom: 4px; /* Align to the bottom, with a slight gap */
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%; /* Make it a circle */
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px); /* Adjust this value if the circle goes too far */
  -ms-transform: translateX(16px);
  transform: translateX(16px); /* Adjust this value if the circle goes too far */
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.hard-mode-toggle {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.hard-mode-toggle span {
    margin-left: 10px;
    color: white;
}
